[submodule "rime-list"]
	path = rime-list
	url = https://github.com/hantang/rime-list.git
[submodule "rime-wiki"]
	path = rime-wiki
	url = https://github.com/rime/home.wiki.git
[submodule "rime-squirrel-wiki"]
	path = rime-squirrel-wiki
	url = https://github.com/rime/squirrel.wiki.git
[submodule "rime-weasel-wiki"]
	path = rime-weasel-wiki
	url = https://github.com/rime/weasel.wiki.git
